.block1 {
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #000;
  background-color: #21beff;
  border: 1px solid #21beff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.block1 p {
  font-weight: 600;
}

.block1:hover {
  transform: scale(1.05);
}

.block2 {
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #000;
  background-color: #21beff;
  border: 1px solid #21beff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.block2 p {
  font-weight: 600;
}

.block2:hover {
  transform: scale(1.05);
}

.block3 {
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #000;
  background-color: #21beff;
  border: 1px solid #21beff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.block3 p {
  font-weight: 600;
}

.block3:hover {
  transform: scale(1.05);
}

.block4 {
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #000;
  background-color: #21beff;
  border: 1px solid #21beff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.block4 p {
  font-weight: 600;
}

.block4:hover {
  transform: scale(1.05);
}

/* data */
.card1 {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 25px;
}